* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-blue-active: #b7d6ff;
    --color-blue: #6fa9fd;
    --color-white: #c0d2d6;
    --color-bg: #25282a;
}
body {
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--color-bg);
}
input {
    display: none;
}

input + * {
    display: none;
}
input:checked + * {
    display: block;
}










label {
    padding: 0.5rem;
    display: block;
    cursor: pointer;
}

label::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    border-radius: 50%;
    border: 0.15rem solid var(--color-blue);
    transition: all .2s linear;
}

label.active::before {
    background-color: var(--color-white) !important;
    border-color: var(--color-white) !important;
}
label:active::before {
    border-color: var(--color-blue-active);
}
label:hover::before {
    background-color: var(--color-blue);
}
